* {
  margin: 0;
  padding: 0;
}

body {
        background-color: #E1E6EC;
    background-image: 
        linear-gradient(-180deg, #E1E6EC 2%, #F0F4F7 96%),
        radial-gradient(at 50% 100%, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.5) 200%);
    background-blend-mode: normal, color-burn;
}
main {
    width: 80%;
    margin: auto;
    background-color: azure;
    border-radius: 5px;
    
    
}

#navBar {
    background-color: black;
    color: azure;
    border-radius: 1px;
    width: 80%;
    height: auto;
    display: block;
    margin: auto
}

/*#navBarCollapse{
    margin: 0;
    padding: 0;
    background-color: black;
    height: auto;
} */

div.card a span { 
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;   
}

div.card:hover {
    opacity: 0.9;
}






a:visited {
    color: azure;
}

header {
    height: auto;
    background: #EBEBE9;
    background-image: linear-gradient(-70deg, rgba(255,255,255,0.35) 3%, rgba(0,0,0,0.35) 100%),
        radial-gradient(101% 97%, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 98%);
    background-blend-mode: normal,normal,lighten;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-top:55px; 
}

header > .row {
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
    display: flex;
}

#header_img {
    display: flex;
    height: auto; 
    max-width: 100%; 
    max-height: 600px;
    padding-top: 10px;
    margin-right: 0px;
    margin-bottom: 0px;

}

#header_cap {
    padding-top: 5%;
    padding-left: 15%;
    align-content: center;
}

h1.header_text {
    font-size: 10vw;
    text-shadow: 1px 1px black;
    
}

h1.text_content {
    font-size: 3em;
}

h1{
    font-size: 4em;
    text-align: center;
}

h2 {
    text-align: center;
    padding: 20px;
}

h3 {
    text-align: center;
    padding: 30px;
}
#name {
    
}

#postimg {
    display: block;
    margin: auto;
    padding-bottom: 50px;
}

p {
    padding-left: 5%;
    padding-right: 3%;
}

.pagination {
     background-color: azure;
    align-items: center;
}
a.page-link {
    color: black;
}

#pages {
    margin-left: 5%;
    margin-right: 3%;
    border-color: azure;
}

a.page-link:visited {
    color: black;
}
#carouselExampleSlidesOnly {
    width: 50%;
    justify-content: center;
}

.overlay {
    position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #e3e6e5;
}

.imgcont:hover .overlay {
  opacity: 1;
}

.text {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

}

form {
    margin-left: 5%;
    margin-right: 3%;
    padding: 20px;
        
}
#submitbtn {
    background-color: black;
    border-color: black;
    width: 100px;
}

.card-deck {
    width: 97%;
    margin: auto;
}

.favcarousel{
    width: 80%;
    display: block;
    margin: auto;
    
}

#explore {
    color: black;
}

#shop {
    color: black;
}


 .affix {
      top: 0;
      width: 100%;
      z-index: 9999 !important;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }



footer {
    background-color: #797572;
    background-image: 
        linear-gradient(-173deg, rgba(255,255,255,0.20) 0%, #000000 100%),
        linear-gradient(72deg, rgba(255,255,255,0.25) 25%, rgba(0,0,0,0.25) 100%),
        radial-gradient(47% 102%, rgba(255,255,255,0.50) 0%, rgba(21,24,32,0.60) 120%);
    background-blend-mode: multiply;
    color: azure;
    padding: 1%;
    text-align: center;
    border-radius: 1px;
}

@media screen and (max-width: 1000px) {
    .innerbox {
        width: 100%;
        height: 200px;
        margin: 0;
        padding: 2px;
        box-sizing: border-box;    
    }
}

@media screen and (max-width: 1300px) {
    p {
        font-size: 0.8em;
    }
}