* {
  margin: 0;
  padding: 0;
}

body {
        background-color: #E1E6EC;
    background-image: 
        linear-gradient(-180deg, #E1E6EC 2%, #F0F4F7 96%),
        radial-gradient(at 50% 100%, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.5) 200%);
    background-blend-mode: normal, color-burn;
}
main {
    width: 80%;
    margin: auto;
    background-color: azure;
    border-radius: 5px;
    
    
}

nav {
    background-color: black;
    color: azure;
    border-radius: 1px;
}

a:visited {
    color: azure;
}

header {
    height: 400px;
    background: #EBEBE9;
    background-image: linear-gradient(-70deg, rgba(255,255,255,0.35) 3%, rgba(0,0,0,0.35) 100%),
        radial-gradient(101% 97%, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 98%);
    background-blend-mode: normal,normal,lighten;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

#header_sec {
    
}

#header_img {
    width 30%;
    display: flex;
    height: auto; 
    max-width: 100%; 
    max-height: 400px;
}

#header_cap {
    width: 65%;
    display: flex;
    padding-top: 100px;
    padding-left: 20%;
}

h1.header_text {
    font-size: 7em;
    text-shadow: 2px 2px black;
    
}

h1.text_content {
    font-size: 3em;
}

h1{
    font-size: 4em;
    text-align: center;
}

h2 {
    text-align: center;
    padding: 20px;
}

h3 {
    text-align: center;
    padding: 30px;
}
#name {
    
}

#postimg {
    display: block;
    margin: auto;
    padding-bottom: 50px;
}

p {
    padding-left: 5%;
    padding-right: 3%;
}

.pagination {
    background-color: bisque;
    align-items: center;
}

#carouselExampleSlidesOnly {
    width: 50%;
    justify-content: center;
}

footer {
    background-color: black;
    color: azure;
    padding: 1%;
    text-align: center
}

@media screen and (max-width: 1000px) {
    .innerbox {
        width: 100%;
        height: 200px;
        margin: 0;
        padding: 2px;
        box-sizing: border-box;    
    }
}

@media screen and (max-width: 1300px) {
    p {
        font-size: 0.8em;
    }
}